.create-conference-container {
  height: 100%;
}

.create-conference-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 30%;
}

.create-conference-content form {
  display: flex;
  flex-direction: column;
}

.checkbox-margin {
  margin-right: 2em;
  margin-bottom: 1em;
}

.mt10 {
  margin-top: 1em;
}
